# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
*.sqlite3

# Data
/data/raw/
/data/processed/
/data/tmp/

# Notebooks checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Fichiers Docker & données
volumes/*
*.db
*.log
*.pid
*.minio
*.milvus

volumes/
